<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.flyco.dialogsamples"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SimpleHomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DialogHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".ui.PopupHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.BubblePopupActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.CommonPopupActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
